
<%= image_tag 'antiquarium.png', alt: 'logo', width: '190', 'data-src' => image_path('antiquarium.png'), 'data-src-retina' => image_path('antiquarium@2x.png') %>
<p class="p-t-35">Login to Antiquarium Data Platform</p>

<%= flash_messages %>
<%= render 'form' %>
