<ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">

  <!-- Notifications -->
  <li class="p-r-15 inline fs-16">
    <div class="dropdown">
      <a href="javascript:;" id="notification-center" class="fa fa-comments-o" data-toggle="dropdown">
        <span class="badge badge-important">1</span>
      </a>
      <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
        <div class="notification-panel">
          <div class="notification-body scrollable">

            <!-- Task Item -->
            <div class="notification-item  clearfix">
              <div class="heading">
                <a href="#" class="text-danger">
                  <i class="fa fa-exclamation-triangle m-r-10"></i>
                  <span class="bold">98% Server Load</span>
                  <span class="fs-12 m-l-10">Take Action</span>
                </a>
                <span class="pull-right time">
                  2 mins ago
                </span>
              </div>
              <div class="option">
                <a href="#" class="mark"></a>
              </div>
            </div>
            <!-- / Task Item -->

          </div>
          <div class="notification-footer text-center">
            <a href="#" class="">Read all notifications</a>
            <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
              <i class="pg-refresh_new"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </li>
  <!-- / Notifications -->


  <!-- User -->
  <li class="p-r-15 inline fs-16">
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu">
        <span class="text-master">
          <%= current_user.name %> <i class="pg-arrow_minimize"></i>
        </span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation">
          <%= link_to current_user, role: 'menuitem', tabindex: '-1' do %>
            <span class="p-r-30">Profile</span> <span class="pull-right sm-pull-reset"><i class="fa fa-user"></i></span>
          <% end %>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            Messages <span class="p-l-20"><i class="pg-mail"></i></span>
          </a>
        </li>
        <li role="presentation">
          <%= link_to edit_user_path(current_user), role: 'menuitem', tabindex: '-1' do %>
            Settings <span class="pull-right"><i class="pg-settings"></i></span>
          <% end %>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to destroy_users_session_path, method: :delete, role: 'menuitem', tabindex: '-1' do %>
            Logout <span class="pull-right"><i class="pg-power"></i></span>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <!-- / User -->

</ul>
