<div class="error-container text-center">
  <h1 class="error-number">404</h1>
  <h2 class="semi-bold">Sorry, but we could not find this page</h2>
  <p>It must have some questionable provenance...</p>
</div>
