<div class="header ">

  <!-- Mobile Controls -->
  <div class="pull-left full-height visible-sm visible-xs">
    <div class="sm-action-bar">
      <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
        <span class="icon-set menu-hambuger"></span>
      </a>
    </div>
  </div>
  <div class="pull-right full-height visible-sm visible-xs">
    <div class="sm-action-bar">
      <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
        <span class="icon-set menu-hambuger-plus"></span>
      </a>
    </div>
  </div>
  <!-- / Mobile Controls -->

  <div class=" pull-left sm-table">
    <div class="header-inner">

      <!-- Logo -->
      <div class="brand inline">
        <%= image_tag 'antiquarium/antiquarium.png', alt: 'logo', width: '190', 'data-src' => image_path('antiquarium/antiquarium.png'), 'data-src-retina' => image_path('antiquarium/antiquarium@2x.png') %>
      </div>
      <!-- / Logo -->

      <!-- User -->
      <%= render 'layouts/application/header/user' %>
      <!-- / User -->

      <!-- Search -->
      <a href="#" class="search-link" data-toggle="search">
        <i class="pg-search"></i>Type anywhere to <span class="bold">search</span>
      </a>
      <!-- / Search -->

    </div>
  </div>


  <!-- Page Controls -->
  <div class=" pull-right">
    <div class="header-inner">
      <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
    </div>
  </div>

  <!-- / Page Controls -->
</div>
