<%= render  partial: 'shared/show',
            locals: {
              namespace: 'Artifacts',
              object: @artifact
            }
%>

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-md-7">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Ownership History
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-condensed table-detailed" id="detailedTable">
              <thead>
                <th style="width:15%"></th>
                <th style="width:75%"></th>
                <th style="width:10%"></th>
              </thead>
              <tbody>
                <tr>
                  <td class="v-align-middle semi-bold">1996</td>
                  <td class="v-align-middle">Museum of Nemea, Greece</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="v-align-middle semi-bold">1996</td>
                  <td class="v-align-middle">National Achaeological Museum</td>
                  <td class="v-align-middle text-danger"><i class="fa fa-circle"></i></td>
                </tr>
                <tr>
                  <td class="v-align-middle semi-bold">1993</td>
                  <td class="v-align-middle">Society for the Preservation of Greek Heritage</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="v-align-middle semi-bold">1993</td>
                  <td class="v-align-middle">The Ward Gallery, dba Ward &amp; Company Works of Art, LLC</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->
