<tr>
  <td class="v-align-middle">
    <%= link_to place do %>
    <img src="http://placehold.it/100x100" />
    <% end %>
  </td>
  <td>
    <h4 class="no-margin">
      <%= link_to place.name, place, class: 'text-black' %>
    </h4>
  </td>
  <td>
    <p><%= place.excerpt %>
    </td>
    <td>
      <dl>
        <dt>Last Updated</dt>
        <dd><%= place.last_updated %></dd>
      </dl>
    </td>
  </tr>
